:root {
  --dark-blue: #232f3e;
  --light-blue: #37475a;
  --dark-grey: #131a22;
  --light-grey-1: #888;
  --light-grey-2: #e7e7e7;
  --red: #b12704;
  --green: #007600;
  --dark-green: #007185;
  --orange-1: #f0c14b;
  --orange-2: #ed9220;
}

@font-face {
  font-family: "Ember-Regular";
  src: local("Ember-Regular"),
    url(./assets/fonts/AmazonEmber_Rg.ttf) format("truetype");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Ember-Regular", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light-grey-2);
}
